body {
	background: #E4E4E4;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-weight: 300;
	height: 100%;
}

h1,h2,h3,li,p{
	font-weight: 300;
}

#doc {
	margin: 12px 10px;
	background: #fff;
	height:90vh;
	width: 30vw;
	min-width: 200px;
	padding: 35px 35px;
	outline: none;
	overflow:scroll;
	box-shadow: .1px .1px 10px 0px #555;
	z-index: 3;
	border-top: 3px solid #bbb;
}

#content-col{
	z-index: 3;
}

.glyphicon{
	font-size: 60px;
}

.menuoption{
	padding: 30px 0px 0px 0px;
}

#menu{
	z-index: 3;
	margin-left: 20px;
	padding: 20px 0px;
}

#sidebar{
	background: #FCFCFC;
	padding: 15px 15px;
	word-wrap: break-word;
	background: #333;
	color: white;
	text-align:justify;
	text-justify:inter-word;
}