body {
	background: #E4E4E4;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-weight: 300;
}

h1,h2,h3,li,p{
	font-weight: 300;
}

#doc {
	margin: 12px auto;
	background: #fff;
	min-height: 50px;
	max-height: 450px;
	padding: 35px 35px;
	outline: none;
	overflow:scroll;
	box-shadow: .1px .1px 10px 0px #555;
}

#sidebar{
	background: #FCFCFC;
	padding: 15px 15px;
	min-height: 100px;
	word-wrap: break-word;
	background: #333;
	color: white;
}

#sidebar-title{
	border-bottom: 2px solid #ddd;
}

.soFar{
	font-weight: 200;
	color: #3bb;
}

.next{
	font-weight: 200;
	color: #F78658;
}