/*** uncss> filename: c2.css ***/

html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

/* #Basic Styles
================================================== */

body {
  background: #E4E4E4;
  font: 14px/21px "Open Sans", Helvetica, Arial, sans-serif;
}

/* #Typography
================================================== */

.container {
  position: relative;
  width: 770px;
  margin: 0 auto;
  padding: 0;
}

.columns {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

/* Nested Column Classes */

.columns.alpha {
  margin-left: 0;
}

/* Base Grid */

.container .twelve.columns {
  width: 700px;
}

/* Offsets */

/* #Tablet (Portrait)
================================================== */

/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 626px;
  }

  .container .columns {
    margin-left: 10px;
    margin-right: 10px;
  }

  .columns.alpha {
    margin-left: 0;
    margin-right: 10px;
  }

  .container .twelve.columns {
    width: 556px;
  }

  /* Offsets */
}

/*  #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 320px */

@media only screen and (max-width: 529px) {
  .document-wrap {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: 270px;
  }

  .columns {
    margin: 0;
  }

  .container .twelve.columns {
    width: 250px;
  }

  /* Offsets */
}

/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 480px */

@media only screen and (min-width: 529px) and (max-width: 767px) {
  .container {
    width: 450px;
  }

  .document-wrap {
    padding-right: 14px !important;
    padding-left: 14px !important;
  }

  .columns {
    margin: 0;
  }

  .container .twelve.columns {
    width: 420px;
  }
}

/* #Clearing
================================================== */

/* Self Clearing Goodness */

.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */

/* You can also use a <br class="clear" /> to clear columns */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

.no-select ::-moz-selection,
[contenteditable=false] ::-moz-selection {
  background: rgba(0,0,0,0);
}

.clear {
  clear: both;
}

.document {
  margin: 10px auto;
  background: #fff;
  min-height: 850px;
}

.document-wrap {
  padding: 35px;
  outline: none;
}

.clippy, .clippy-balloon {
    position: fixed;
    z-index: 1000;
    cursor: pointer;
}

.clippy-balloon {

    background: #FFC;
    color: black;
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;

}

.clippy-content {
    max-width: 200px;
    min-width: 120px;
    font-family: "Microsoft Sans", sans-serif;
    font-size: 10pt;
}

.clippy-tip {
    width: 10px;
    height: 16px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAgCAMAAAAlvKiEAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAlQTFRF///MAAAA////52QwgAAAAAN0Uk5T//8A18oNQQAAAGxJREFUeNqs0kEOwCAIRFHn3//QTUU6xMyyxii+jQosrTPkyPEM6IN3FtzIRk1U4dFeKWQiH6pRRowMVKEmvronEynkwj0uZJgR22+YLopPSo9P34wJSamLSU7lSIWLJU7NkNomNlhqxUeAAQC+TQLZyEuJBwAAAABJRU5ErkJggg==) no-repeat;
    position: absolute;
}

.clippy-top-left .clippy-tip {
    top: 100%;
    margin-top: 0px;
    left: 100%;
    margin-left: -50px;
}

.clippy-top-right .clippy-tip {
    top: 100%;
    margin-top: 0px;
    left: 0;
    margin-left: 50px;
    background-position: -10px 0;

}

.clippy-bottom-right .clippy-tip {
    top: 0;
    margin-top: -16px;
    left: 0;
    margin-left: 50px;
    background-position: -10px -16px;
}

.clippy-bottom-left .clippy-tip {
    top: 0;
    margin-top: -16px;
    left: 100%;
    margin-left: -50px;
    background-position: 0px -16px;
}
